<ion-view view-title="Reportes">
    <ion-content class="padding">
        <div class="row responsive-sm">
            <div class="col card">
                <div class="card">
                    <div id="map" class="map"></div>    
                </div>
            </div>
            <div class="col card">
                <div class="list">

                    <div class="item item-divider panel-buttons">
                        Reportes
                    </div>

                    <a class="item" href="#">
                        Reportes por Familias
                    </a>
                    <a class="item" href="#">
                        Reportes por Tipo
                    </a>
                    <a class="item" href="#">
                        Reportes ....
                    </a>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>