<ion-tabs class="tabs-icon-top tabs-top tabs-balanced">

    <!-- Trees Tab -->
    <ion-tab title="Arboles" icon-off="ion-ios-rose-outline" icon-on="ion-ios-rose" href="#/tab/trees">
        <ion-nav-view name="tab-trees"></ion-nav-view>
    </ion-tab>

    <!-- Dictionary Tab -->
    <ion-tab title="Diccionario" icon-off="ion-ios-world-outline" icon-on="ion-ios-world" href="#/tab/dictionary">
        <ion-nav-view name="tab-dictionary"></ion-nav-view>
    </ion-tab>
    
     <!-- Report Tab -->
    <ion-tab title="Reportes" icon-off="ion-ios-pie-outline" icon-on="ion-ios-pie" href="#/tab/report">
        <ion-nav-view name="tab-report"></ion-nav-view>
    </ion-tab>

    <!-- Logout -->
    <ion-tab title="Salir" icon="ion-log-out" href="#/sign-in">
    </ion-tab>


</ion-tabs>
